<div class="container text-center">

    <h1 class="animated" style="margin-top:1.0em" id="home">
        <div class="animated fadeInDown">
            <span class="text-muted" style="font-size: 1.5em">BlackBox</span><br></br>
            <small style="font-size: 1.0em">ESP8266 based CAN-Bus Diagnostic Tool</small><!--<br>
            <small style="font-size: 0.6em">v{{version}}</small><br>-->
        </div>
        <!--
        <div class="animated" id="oem" ng-show="show_oem">
            <span class="text-muted" style="font-size: 0.6em">1337</span>
        </div>
        -->
    </h1>

</div>
