<div class="container animated" ng-class="{'fadeInLeft': loading_animation}">

<style>

#content input[disabled] {
    color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
}

.has-error .form-control {
    color: #a94442;
}

</style>

    <!-- Header -->
    <div class="page-header">
        <h1>
            Settings
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-success" ng-click="saveClicked()">
                    Save
                </button>
                <button data-toggle="modal" type="button" class="btn btn-default" data-target="#myModal" ng-click="updateModal(d)">
                    Info
                </button>
            </div>
        </h1>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Information</h3>
          </div>
          <div class="modal-body">
              <h4>General Information</h4>
              <p><strong>ONOFF:</strong> {{ardata.onoff}}</p>
              <p><strong>NAME:</strong> {{ardata.name}}</p>
              <p><strong>ID:</strong> {{ardata.id}}</p>
              <p><strong>BYTE:</strong> {{ardata.byte_n}}</p>
              <p><strong>INPUTMIN:</strong> {{ardata.inputmin}}</p>
              <p><strong>INPUTMAX:</strong> {{ardata.inputmax}}</p>
              <p><strong>OUTPUTMIN:</strong> {{ardata.outputmin}}</p>
              <p><strong>OUTPUTMAX:</strong> {{ardata.outputmax}}</p>
              <p><strong>UNIT:</strong> {{ardata.unit}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="center-block" style="width: 60%">

        <div class="row" style="">

            <form class="form-horizontal ng-pristine ng-valid hidden-xs">
                <div class="form-group form-group-lg mb-2" style="margin: 0 auto;">
                    <label class="control-label col-xs-4 col-md-6 col-lg-6" style="text-align: left;"><strong>View</strong></label>
                    <div class="col-sm-6 col-md-6 col-lg-4" style="float: right;">
                        <div class="btn-group btn-group-lg pull-right" style="margin: 0 auto;" id="igonoff" data-toggle="buttons">
                              <label class="btn btn-success btn-on-1 btnON" id="btnON" ng-click="activate()">
                              <input type="radio">ON</label>
                              <label class="btn btn-danger btn-off-1 btnOFF" id="btnOFF" ng-click="deactivate()">
                              <input type="radio">OFF</label>
                        </div>
                    </div>
                </div>
            </form>

            <form class="form-horizontal ng-pristine ng-valid visible-xs">
                <div class="form-group form-group-lg mb-2" style="margin: 0 auto;">
                    <label class="control-label col-xs-12" style="text-align: left;"><strong>View</strong></label>
                    <div class="col-xs-12" style="float: left;">
                        <div class="btn-group btn-group-lg pull-left" style="margin: 0 auto;" id="igonoffxs" data-toggle="buttons">
                              <label class="btn btn-success btn-on-1 btnON" id="btnONxs" ng-click="activate()">
                              <input type="radio">ON</label>
                              <label class="btn btn-danger btn-off-1 btnOFF" id="btnOFFxs" ng-click="deactivate()">
                              <input type="radio">OFF</label>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="row" style="margin-top: 2em">

            <form class="form-horizontal">
                <div class="form-group form-group-lg mb-2" id="igname" style="margin: 0 auto;">
                    <label class="control-label col-xs-4 col-md-6 col-lg-6" style="text-align: left;"><strong>Name</strong></label>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="float: right;">
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="name"
                            placeholder="Enter name"
                            ng-model="ardata.name"
                            style="text-align: right; font-weight: bold;"
                        />
                    </div>
                </div>
            </form>

        </div>

        <div class="row" style="margin-top: 2em">

            <form class="form-horizontal">
                <div class="form-group form-group-lg mb-2" id="igid" style="margin: 0 auto;">
                    <label class="control-label col-xs-4 col-md-6 col-lg-6" style="text-align: left;"><strong>ID</strong></label>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="float: right;">
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="id"
                            placeholder="Enter id"
                            ng-model="ardata.id"
                            style="text-align: right; font-weight: bold;"
                        />
                    </div>
                </div>
            </form>

        </div>

        <div class="row" style="margin-top: 2em">

            <form class="form-horizontal">
                <div class="form-group form-group-lg mb-2" id="igbyte_n" style="margin: 0 auto;">
                    <label class="control-label col-xs-4 col-md-6 col-lg-6" style="text-align: left;"><strong>Byte</strong></label>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="float: right;">
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="byte_n"
                            placeholder="Enter byte"
                            ng-model="ardata.byte_n"
                            style="text-align: right; font-weight: bold;"
                        />
                    </div>
                </div>
            </form>

        </div>

        <div class="row" style="margin-top: 2em">

            <form class="form-horizontal">
                <div class="form-group form-group-lg mb-2" id="iginput" style="margin: 0 auto;">
                    <label class="control-label col-xs-4 col-md-6 col-lg-6" style="text-align: left;"><strong>Input</strong></label>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="float: right;">
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="inputmin"
                            placeholder="Enter input min"
                            ng-model="ardata.inputmin"
                            style="text-align: right; font-weight: bold;"
                        />
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="inputmax"
                            placeholder="Enter input max"
                            ng-model="ardata.inputmax"
                            style="text-align: right; font-weight: bold;"
                        />
                    </div>
                </div>
            </form>

        </div>

        <div class="row" style="margin-top: 2em">

            <form class="form-horizontal">
                <div class="form-group form-group-lg mb-2" id="igoutput" style="margin: 0 auto;">
                    <label class="control-label col-xs-4 col-md-6 col-lg-6" style="text-align: left;"><strong>Output</strong></label>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="float: right;">
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="outputmin"
                            placeholder="Enter output min"
                            ng-model="ardata.outputmin"
                            style="text-align: right; font-weight: bold;"
                        />
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="outputmax"
                            placeholder="Enter output max"
                            ng-model="ardata.outputmax"
                            style="text-align: right; font-weight: bold;"
                        />
                    </div>
                </div>
            </form>

        </div>

        <div class="row" style="margin-top: 2em">

            <form class="form-horizontal">
                <div class="form-group form-group-lg mb-2" id="igunit" style="margin: 0 auto;">
                    <label class="control-label col-xs-4 col-md-6 col-lg-6" style="text-align: left;"><strong>Unit</strong></label>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="float: right;">
                        <input
                            maxlength="20"
                            type="text"
                            class="form-control input-lg"
                            id="unit"
                            placeholder="Enter unit"
                            ng-model="ardata.unit"
                            style="text-align: right; font-weight: bold;"
                        />
                    </div>
                </div>
            </form>

        </div>

        <div class="text-muted text-justify" style="margin-top: 2em">
            <em>Lorem ipsum</em> dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
        </div>
    </div>

    <reload-info>
        {{ardata.last_update}}
    </reload-info>

</div>